div {
  width: 300px;
  border: 5px dashed green;
  margin: 20px;
  padding: 10px 40px;
  box-sizing: border-box;
}

/* misal: */
/* padding: 10px 40px; */

/* searah jarum jam */
/* atas;kanan;bawah;kiri */
/* atas;(kanan-kiri);bawah */
/* (atas-bawah);(kiri-kanan) */
